@font-face {
    font-family:nomne que eu quiser ;
    src: url(../fontes/ANODETONOONE.TTF);
}

h1{
    font-family:titulos;
    font-size: 40px;
    color:#603A03 ;
}
body {
    background-image:url(../imgs/fundo.jpg) ;
}
#container{
    width:950px ;
    height:auto;
    position: relative;
    margin-left:auto;
    margin-right:auto;
}